# block access to all Apache config files
<FilesMatch "^.ht*">
	Order allow,deny
	Deny from all
</FilesMatch>

# block access by file extension
<FilesMatch "(\.sql|\.inc.php)$">
	Order allow,deny
	Deny from all
</FilesMatch>

# block verboten directories
RedirectMatch 404 /classes(/|$)
RedirectMatch 404 /logs(/|$)

# block access to secrets.xml
<Files secrets.xml>
	Order allow,deny
	Deny from all
</Files>
