# hide files that we don't want folks browsing
<FilesMatch "^(secrets\.xml|.*\.sql|.*\.inc\.php|vendor)$">
  Order allow,deny
  Deny from all
</FilesMatch>

# make it look like config.xml is a real thing
<Files config.xml>
ForceType application/x-httpd-php
SetHandler application/x-httpd-php
</Files>
