<?php

header('Content-type: application/xml');

require_once('vendor/autoload.php');
require_once('common.inc.php');

?><?xml version="1.0" encoding="UTF-8"?>
<cartridge_basiclti_link xmlns="http://www.imsglobal.org/xsd/imslticc_v1p0"
    xmlns:blti = "http://www.imsglobal.org/xsd/imsbasiclti_v1p0"
    xmlns:lticm ="http://www.imsglobal.org/xsd/imslticm_v1p0"
    xmlns:lticp ="http://www.imsglobal.org/xsd/imslticp_v1p0"
    xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation = "http://www.imsglobal.org/xsd/imslticc_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticc_v1p0.xsd
    http://www.imsglobal.org/xsd/imsbasiclti_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imsbasiclti_v1p0.xsd
    http://www.imsglobal.org/xsd/imslticm_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticm_v1p0.xsd
    http://www.imsglobal.org/xsd/imslticp_v1p0 http://www.imsglobal.org/xsd/lti/ltiv1p0/imslticp_v1p0.xsd">
    <blti:title><?= $metadata['APP_NAME'] ?></blti:title>
    <blti:description><?= $metadata['APP_DESCRIPTION'] ?></blti:description>
    <blti:icon><?= $metadata['APP_ICON_URL'] ?></blti:icon>
    <blti:launch_url><?= $metadata['APP_LAUNCH_URL'] ?></blti:launch_url>
<?php if ($metadata['CUSTOM_FIELDS']): ?>
      <blti:custom>
      	<?php
	      	foreach(preg_grep('/^CUSTOM_FIELD_.+/', array_keys($metadata->getArrayCopy())) as $field) {
		  		echo '<lticm:property name="' . str_replace('CUSTOM_FIELD_', '', $field) . '">' . $metadata[$field] . '</lticm:property>';
	      	}
	    ?>
      </blti:custom>
<?php endif; ?>
    <blti:extensions platform="canvas.instructure.com">
      <lticm:property name="tool_id"><?= $metadata['APP_ID'] ?></lticm:property>
      <lticm:property name="privacy_level"><?= $metadata['APP_PRIVACY_LEVEL'] ?></lticm:property>
<?php if (strlen($metadata['APP_DOMAIN'])): ?>
      <lticm:property name="domain"><?= $metadata['APP_DOMAIN'] ?></lticm:property>
<?php endif; ?>
<?php if ($metadata['EDITOR_BUTTON']): ?>
      <lticm:options name="editor_button">
        <lticm:property name="url"><?= $metadata['EDITOR_BUTTON_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="icon_url"><?= $metadata['EDITOR_BUTTON_ICON_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['EDITOR_BUTTON_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="selection_width"><?= $metadata['EDITOR_BUTTON_SELECTION_WIDTH'] ?></lticm:property>
        <lticm:property name="selection_height"><?= $metadata['EDITOR_BUTTON_SELECTION_HEIGHT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['EDITOR_BUTTON_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
<?php if ($metadata['RESOURCE_SELECTION']): ?>
      <lticm:options name="resource_selection">
        <lticm:property name="url"><?= $metadata['RESOURCE_SELECTION_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="icon_url"><?= $metadata['RESOURCE_SELECTION_ICON_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['RESOURCE_SELECTION_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="selection_width"><?= $metadata['RESOURCE_SELECTION_WIDTH'] ?></lticm:property>
        <lticm:property name="selection_height"><?= $metadata['RESOURCE_SELECTION_HEIGHT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['RESOURCE_SELECTION_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
<?php if ($metadata['HOMEWORK_SUBMISSION']): ?>
      <lticm:options name="homework_submission">
        <lticm:property name="url"><?= $metadata['HOMEWORK_SUBMISSION_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="icon_url"><?= $metadata['HOMEWORK_SUBMISSION_ICON_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['HOMEWORK_SUBMISSION_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="selection_width"><?= $metadata['HOMEWORK_SUBMISSION_WIDTH'] ?></lticm:property>
        <lticm:property name="selection_height"><?= $metadata['HOMEWORK_SUBMISSION_HEIGHT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['HOMEWORK_SUBMISSION_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
<?php if ($metadata['COURSE_NAVIGATION']): ?>
      <lticm:options name="course_navigation">
        <lticm:property name="url"><?= $metadata['COURSE_NAVIGATION_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['COURSE_NAVIGATION_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="visibility"><?= $metadata['COURSE_NAVIGATION_VISIBILITY'] ?></lticm:property>
        <lticm:property name="default"><?= $metadata['COURSE_NAVIGATION_DEFAULT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['COURSE_NAVIGATION_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
<?php if ($metadata['ACCOUNT_NAVIGATION']): ?>
      <lticm:options name="account_navigation">
        <lticm:property name="url"><?= $metadata['ACCOUNT_NAVIGATION_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['ACCOUNT_NAVIGATION_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['ACCOUNT_NAVIGATION_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
<?php if ($metadata['USER_NAVIGATION']): ?>
      <lticm:options name="user_navigation">
        <lticm:property name="url"><?= $metadata['USER_NAVIGATION_LAUNCH_URL'] ?></lticm:property>
        <lticm:property name="text"><?= $metadata['USER_NAVIGATION_LINK_TEXT'] ?></lticm:property>
        <lticm:property name="enabled"><?= $metadata['USER_NAVIGATION_ENABLED'] ?></lticm:property>
      </lticm:options>
<?php endif; ?>
    </blti:extensions>
    <cartridge_bundle identifierref="BLTI001_Bundle"/>
    <cartridge_icon identifierref="BLTI001_Icon"/>
</cartridge_basiclti_link>  