body, p, div {
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: normal;
	margin: 0px;
	padding: 0px;
}

#header {
	width: 100%;
	background: #eee;
	height: 2em;
	position: relative;
}

#header #header-logo {
	background: url('icon.png') no-repeat;
	background-size: 1.5em 1.5em;
	background-position: 0.25em 0.25em;
	height: 2em;
}

#navigation-menu {
	position: absolute;
	left: 2em;
	bottom: 0.5em;
	list-style-type: none;
	margin: auto;
	padding: 0px;
}

#navigation-menu li {
	float: left;
	margin-right: 0.5em;
}

#navigation-menu a {
	color: #003359;
	padding: 0.5em;
	text-decoration: none;
}

#navigation-menu a:hover {
	background: #003359;
	color: #fff;
	text-decoration: underline;
}

#messages {
	overflow: hidden;
	margin: 1em;
	padding: 0;
}

#messages ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#messages li {
	float: left;
	margin: 1em;
	padding: 0.5em;
	font-size: smaller;
	background: #feb;
	color: #a80;
	border: solid 1px #a80;
	border-radius: 0.5em;
}

#messages li.error {
	background: #fee;
	color: #a00;
	border-color: #a00;
}

#messages .title {
	font-weight: bold;
}

#content {
	margin: 3em auto;
	width: 40em;
	max-width: 90%;
}

/* Forms formatting */
label, input[type=file] {
	display: block;
	margin-top: 10px;
}

label .comment {
	font-size: 8pt;
	display: block;
}

input {
	display: block;
}

input[type=file] {
	width: 100%;
	font-size: 8pt;
	font-style: italic;
}

input[type=text] {
	width: 100%;
}

input[type=radio], input[type=checkbox] {
	display: inline;
}

address {
	font-style: normal;
}

#footer {
	position: absolute;
	text-align: right;
	font-size: 8pt;
	bottom: 0;
	background: #eee;
	color: #999;
	padding: 0.5em;
	width: 100%;
}