#lti-consumers {
	border-spacing: 0px;
	border-collapse: collapse;
}

#lti-consumers tr:nth-child(odd) {
   background-color: #f6f6f6;
}

#lti-consumers dl {
	overflow: auto;
}

#lti-consumers dt::after {
	content: ":\00A0";
}

#lti-consumers dt {
	float: left;
	clear: left;
}

#lti-consumers dd {
	font-weight: bold;
	display: table-cell;
}

#lti-consumers td {
	vertical-align: top;
	padding: 1em;
}

#lti-consumers .open-record {
	color: #ccc;
}